<% if(title) { %>
  <h1 id="acctMangetitle">
    <%= title %>
  </h1>
  <%} else { res.redirect('/'); } %>

  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
  <% } %>

    <div id="manageLinksContainer">
    <h2 id="welcome"> Welcome <%- welcomeBasic  %> </h2><hr>
    
      <h3>Update Account Info</h3>
      <p> <a href="/account/updateInfo/<%- acctId %>">Update Account Info</a></p> <hr>
      
      <% if(locals.accountData.account_type === "Admin" || 
            locals.accountData.account_type === "Employee") { %>
          <h3>Cart Management</h3>
          <p><a href="/cart/cart-management/">Manage Client Cart</a></p><hr>
          <h3>Inventory Management</h3>
          <p> <a href="/inv/">Inventory management</a></p>
      <% } else { %>
          <h3>My Cart</h3>
          <p><a href="/cart/">Go to cart</a></p><hr>
        <% } %>
    </div>