<% if(title) { %>
  <h1 id="manageInventoryHead">
    <%= title %>
  </h1>
  <%} else { res.redirect('/'); } %>

  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
        <li>
           <%= error.msg %>
        </li>
      <% }) %>
    </ul>
  <% } %>

<form id="editInvForm" action="./inv/edit" method="post">
  <fieldset id="enterInventory">

    <label for="invMake">Make</label><br>
    <input type="text" id="invMake" name="inv_make" 
           required value="<%= locals.inv_make %>">
    <br>
    <label for="inv_model">Model</label><br>
    <input type="text" id="inv_model" name="inv_model" 
               required value="<%= locals.inv_model %>">
    <br>
    <label for="invYear">Year</label><br>
    <input type="text" id="invYear" name="inv_year" 
           required pattern="^[0-9].{3,}$" 
           value="<%= locals.inv_year %>">
    <br>
    <label for="invDescription">Description</label><br>
    <textarea id="invDescription" name="inv_description">
      <%= locals.inv_description %>"
              
    </textarea>
    <br>
    <label for="invImg">Image Path</label><br>
    <input type="text" id="invImg" name="inv_image" 
           required value=" <%= locals.inv_image %>">
    <br>
    <label for="invThumb">Thumbnail Path</label><br>
    <input type="text" id="invThumb" name="inv_thumbnail" 
    required value=" <%= locals.inv_thumbnail %>">
    <br>
    <label for="invPrice">Price</label><br>
    <input type="text" id="invPrice" name="inv_price" 
           required value=" <%= locals.inv_price %>">
    <br>
    <label for="invMiles">Miles</label><br>
    <input type="text" id="invMiles" name="inv_miles" 
           required value=" <%= locals.inv_miles%>">
    <br>
    <label for="classificationList">Classification ID</label><br>
    <%- categorySelect %>
    <br>
    <label for="invColor">Color</label><br>
    <input type="text" id="invColor" name="inv_color" 
          required value=" <%= locals.inv_color%>">
    <br>
    <input type="submit" id="add-invBtn" value="Edit Inventory">
    <br>

  </fieldset>
</form>